body {
    background-color: #102B46;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
h1 {
    margin-top: 100px;
    text-align: center;
}
button {
    padding: 10px 40px;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
    border: white;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.button-container {
     display: flex;
     justify-content: center;
     margin-bottom: 50px;
 }
.both-button-container {
    display:flex;
    justify-content: center;
    gap:10px;
}
p {
    text-align: center;
}
.game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #104610;
}
.card-image {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(1rem 1rem 10px black); /* Using filter for a drop-shadow effect */
}

.card {
    height: 200px;
    width: 150px;
    border-radius: 10px;
}
.cards-container {
    display: flex;
    flex-direction: row;
}
.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.result {
    text-align: center;
}

.play-again-btn {
    /*width: 50px;*/
    /*height: 20px;*/
    padding: 10px 40px;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
    border: white;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.button:hover {background-color: #3e8e41}

.play-again-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.modal {
    color: black;
    display: none;  /* Hidden by default */
    position: fixed; /* Fixed position, covering the entire screen */
    top: 0;
    left: 0;
    width: 100%;  /* Full screen width */
    height: 100%; /* Full screen height */
    z-index: 9999;
    justify-content: center;  /* Center the modal content horizontally */
    align-items: center;  /* Center the modal content vertically */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */

    /* Center the modal content */
    display: flex;  /* Enable flexbox */
    justify-content: center;  /* Horizontally center */
    align-items: center;  /* Vertically center */
}

.w3-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 70%; /* Adjust the modal width */
    max-width: 800px; /* Optional: limit the max width */

}

.w3-container {
    padding: 20px;
}

.w3-button {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .game-container {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        height: 175px;
        width: 125px;
        border-radius: 10px;
    }

    .w3-modal-content {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        width: 70%; /* Adjust the modal width */
        max-height: 500px;
        max-width: 600px;
        overflow-y: scroll;

    }
}
